<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_sllfilemanager_domain_model_file.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="slug">
	<f:translate key="tx_sllfilemanager_domain_model_file.slug" />
</label><br />
	<f:form.textfield property="slug" /><br />
<label for="size">
	<f:translate key="tx_sllfilemanager_domain_model_file.size" />
</label><br />
	<f:form.textfield property="size" /><br />
<label for="absolutePath">
	<f:translate key="tx_sllfilemanager_domain_model_file.absolute_path" />
</label><br />
	<f:form.textfield property="absolutePath" /><br />
<label for="relativePath">
	<f:translate key="tx_sllfilemanager_domain_model_file.relative_path" />
</label><br />
	<f:form.textfield property="relativePath" /><br />
<label for="teaser">
	<f:translate key="tx_sllfilemanager_domain_model_file.teaser" />
</label><br />
	<f:form.textarea property="teaser" cols="40" rows="15" /><br />
<label for="download">
	<f:translate key="tx_sllfilemanager_domain_model_file.download" />
</label><br />
	<f:form.textfield property="download" /><br />
<label for="fileType">
	<f:translate key="tx_sllfilemanager_domain_model_file.file_type" />
</label><br />
	<f:form.textfield property="fileType" /><br />
<label for="fileExtension">
	<f:translate key="tx_sllfilemanager_domain_model_file.file_extension" />
</label><br />
	<f:form.textfield property="fileExtension" /><br />
</html>