<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-sll-file-manager" >
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.slug" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.size" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.absolute_path" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.relative_path" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.teaser" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.download" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.file_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sllfilemanager_domain_model_file.file_extension" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>