<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_sllfriendlink_domain_model_links.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="webmaster">
	<f:translate key="tx_sllfriendlink_domain_model_links.webmaster" />
</label><br />
	<f:form.textfield property="webmaster" /><br />
<label for="email">
	<f:translate key="tx_sllfriendlink_domain_model_links.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="links">
	<f:translate key="tx_sllfriendlink_domain_model_links.links" />
</label><br />
	<f:form.textfield property="links" /><br />
<label for="introduction">
	<f:translate key="tx_sllfriendlink_domain_model_links.introduction" />
</label><br />
	<f:form.textfield property="introduction" /><br />
<label for="icon">
	<f:translate key="tx_sllfriendlink_domain_model_links.icon" />
</label><br />
	<f:form.textarea property="icon" cols="40" rows="15" /><br />
<label for="nofollow">
	<f:translate key="tx_sllfriendlink_domain_model_links.nofollow" />
</label><br />
	<f:form.checkbox property="nofollow" value="1" /><br />
</html>