<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    <f:render partial="Top" arguments="{_all}" />
    <!-- /Top Menu Items -->

    <!-- Left Menu Items -->
    <f:render partial="Left" arguments="{_all}" />
    <!-- /Left Menu Items -->

    <!-- Right Menu Items -->
    <f:render partial="Right" arguments="{_all}" />
    <!-- /Right Menu Items -->

    <!-- Main Content -->
    <f:render section="Main" />
    <!-- /Main Content -->
</div>