<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p id="hitokoto">总有人山高路远为你而来。</p>
                <p><f:format.raw>{ICP}</f:format.raw> <f:format.raw>{themeCopyrightText}</f:format.raw></p>
            </div>
        </div>
    </div>
</div>
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<img class="footer" id="gotoTop" src="/typo3conf/ext/general_business_frontend_package/Resources/Public/Img/gotop.png" alt="回到顶部" style="position: fixed;right: 50px;bottom: 90px;width: 25px;height: 35px;">
<script>
    window.onload = function () {
        var OriginTitile = document.title;
        var titleTime;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                $('[rel="shortcut icon"]').attr('href', "/fileadmin/static_file/img/failico.png");
                document.title = '╮(๑•́ ₃•̀๑)╭';
                clearTimeout(titleTime);
            } else {
                $('[rel="shortcut icon"]').attr('href', "/fileadmin/static_file/img/favicon.ico");
                document.title = '(ง •̀_•́)ง ' + OriginTitile;
                titleTime = setTimeout(function () {
                    document.title = OriginTitile;
                }, 1000);
            }
        });
    }

</script>   