<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-12 search-form-wrap js-search-form">
                <!-- <form method="get" action="#">
                    <input type="text" id="s" class="form-control" placeholder="Search...">
                    <button class="search-btn" type="submit"><span class="icon-search"></span></button>
                </form> -->
                <form method="post" action="search.html">
                    <input type="hidden" name="tx_indexedsearch_pi2[action]" value="search" />
                    <input type="hidden" name="tx_indexedsearch_pi2[controller]" value="Search" />
                    <input type="hidden" name="cHash" value="0" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][_sections]" value="0" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][_freeIndexUid]" value="_" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][pointer]" value="0" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][ext]" value="" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][searchType]" value="1" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][defaultOperand]" value="0" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][mediaType]" value="-1" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][sortOrder]" value="rank_flag" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][group]" value="" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][languageUid]" value="sys_language_uid}" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][desc]" value="" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][numberOfResults]" value="10" />
                    <input type="hidden" name="tx_indexedsearch_pi2[search][extendedSearch]" value="" />
                    <input type="text" id="s" name="tx_indexedsearch_pi2[search][sword]" value="{searchKeyword}" placeholder="请输入查询关键字..." class="form-control" autocomplete="off" />
                    <button class="search-btn" type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <div class="col-4 site-logo">
                <a href="{BASEURL}" class="text-black h2 mb-0">{siteTitle}</a>
            </div>

            <div class="col-8 text-right">
                <nav class="site-navigation" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                        <f:cObject typoscriptObjectPath="lib.navigation.main" />
                    </ul>
                </nav>
                <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>

    </div>
</header>